<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653223496525-rht8stodl2fok07s7h8pfea72vqgkb5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653223496525-rht8stodl2fok07s7h8pfea72vqgkb5u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>653223496525-jfi7ntpshi2uk6dbihgid2gm06dmi78c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAi-JoIDIwgQwdE_xXU4SVLOehkl9Cb_pQ</string>
	<key>GCM_SENDER_ID</key>
	<string>653223496525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orcim.mantratherapy</string>
	<key>PROJECT_ID</key>
	<string>calendarsongs-76917</string>
	<key>STORAGE_BUCKET</key>
	<string>calendarsongs-76917.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653223496525:ios:3a7ca1a38444c1445a4504</string>
	<key>DATABASE_URL</key>
	<string>https://calendarsongs-76917-default-rtdb.firebaseio.com</string>
</dict>
</plist>